@tailwind base;
@tailwind components;
@tailwind utilities;


.page {
  @apply px-4 py-2 h-screen;
  @apply flex flex-col;

  background-image: url("../assets/ceip-facade.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  @apply font-bold text-4xl my-6;
}

h2 {
  @apply font-bold text-2xl my-4;
}

h3 {
  @apply font-bold text-lg my-2;
}

.card {
  @apply p-4 h-fit;
  @apply flex flex-col;
  @apply rounded-2xl shadow-lg shadow-white border border-gray-100;
  @apply bg-white;
}

.banner {
  @apply w-full p-4 h-fit;
  @apply flex flex-col;
}

.banner > .card {
  @apply my-2;
}

.banner > .card a {
  @apply self-center;
  @apply mt-4 mb-2;
  @apply capitalize font-bold;
}

.banner > .card a:hover {
  @apply text-white bg-blue-600;
}

input {
  @apply mt-6 p-2 rounded border border-gray-500;
  @apply bg-gray-100;
}

input.last {
  @apply mb-6;
}

button {
  @apply rounded bg-green-600 px-4 py-2;
  @apply text-white font-bold;
}

a {
  @apply text-blue-600 underline;
}

p {
  @apply my-1;
}

nav {
  @apply -ml-4 -mt-2 px-6 mb-32 w-screen;
  @apply flex flex-row justify-between items-center;
  @apply bg-white;
}

nav > ul {
  @apply flex flex-row;
}

nav li {
  @apply font-bold text-sm;
  @apply mx-2;
}

li {
  @apply my-2;
}

@screen md {
  .card {
    @apply w-1/2 mx-auto;
  }

  .banner {
    @apply flex-row flex-wrap;
    @apply py-2 px-2;
  }
}

@screen lg {
  .page {
    background-size: 100%;
  }

  .card {
    @apply w-1/4;
  }

  .banner {
    @apply justify-center;
  }

  .banner > .card {
    @apply mx-4;
  }
}