@tailwind base;
@tailwind components;
@tailwind utilities;


.page {
  @apply px-4 py-2 h-screen;
  @apply flex flex-col;

  background-image: url("../assets/ceip-facade.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  @apply font-bold text-4xl my-6;
}

h2 {
  @apply font-bold text-2xl my-4;
}

h3 {
  @apply font-bold text-lg my-2;
}

.card {
  @apply p-4 h-fit;
  @apply flex flex-col;
  @apply rounded-2xl border border-gray-400;
  @apply bg-white;
}

.banner {
  @apply w-full p-4 h-fit;
  @apply flex flex-col;
}

.banner > .card {
  @apply my-2;
}

.banner > .card a {
  @apply self-center;
  @apply mt-4 mb-2;
  @apply capitalize font-bold;
}

.banner > .card a:hover {
  @apply text-white bg-blue-600;
}

input,select {
  @apply mt-6 p-2 rounded border border-gray-500;
  @apply bg-gray-100;
}

input.last, select.last {
  @apply mb-6;
}

button {
  @apply rounded bg-green-600 px-4 py-2;
  @apply text-white font-bold;
}

button.disabled {
  @apply bg-gray-200;
  @apply text-gray-600 font-normal;
}

a {
  @apply text-blue-600 underline;
}

p {
  @apply my-1;
}

p.error {
  @apply bg-red-400 px-2 py-1 rounded-lg;
  @apply text-xs text-white;
}

nav {
  @apply -ml-4 -mt-2 px-6 mb-32 w-screen;
  @apply flex flex-row justify-between items-center;
  @apply bg-white;
}

nav > ul {
  @apply flex flex-row;
}

nav li {
  @apply font-bold text-sm;
  @apply mx-2;
}

li {
  @apply my-2;
}

.pill {
  @apply px-3 py-1.5 w-fit rounded-full;
  @apply text-white font-bold text-center text-xs;
}

.pill.user {
  @apply bg-green-600;
}

.pill.employee {
  @apply bg-red-600;
}

.pill.volunteer {
  @apply bg-blue-600;
}

@screen md {
  .card {
    @apply w-1/2 mx-auto;
  }

  .banner {
    @apply flex-row flex-wrap;
    @apply py-2 px-2;
  }
}

@screen lg {
  .page {
    background-size: 100%;
  }

  .card {
    @apply w-1/4;
  }

  .banner {
    @apply justify-center;
  }

  .banner > .card {
    @apply mx-4;
  }
}





.react-datepicker__input-container input {
  @apply block w-full text-base md:text-sm bg-white border border-gray-300 rounded shadow-sm form-input
}

.react-datepicker-popper {
  @apply z-40 w-72 text-sm bg-white shadow px-3 py-2 border-2 border-gray-200 rounded
}

.react-datepicker-left {
  @apply absolute left-0 right-auto top-11 transform-none !important
}

.react-datepicker-right {
  @apply absolute right-0 left-auto top-11 transform-none !important
}

.react-datepicker__portal {
  @apply absolute z-10 w-72 text-sm transform-none bg-white shadow px-3 py-2 top-12 right-0 border-2 border-gray-200 rounded
}

.react-datepicker__month-container {
  @apply flex flex-col
}

.react-datepicker__month {
  @apply flex flex-col
}

.react-datepicker__current-month {
  @apply ml-2.5 text-lg font-semibold text-gray-800
}

.react-datepicker__week {
  @apply flex justify-around
}

.react-datepicker__day-names {
  @apply flex justify-around text-gray-400 font-medium text-center text-xs
}

.react-datepicker__day-name {
  @apply w-8 h-8 flex items-center justify-center py-1 rounded-full
}

.react-datepicker__navigation {
  @apply absolute top-2 text-black text-xs
}

.react-datepicker__navigation--previous {
  @apply right-12 w-8 h-8 rounded transition flex items-center justify-center hover:bg-gray-200
}

.react-datepicker__navigation--next {
  @apply right-4 w-8 h-8 rounded transition flex items-center justify-center hover:bg-gray-200
}

.react-datepicker__day {
  @apply mb-1 w-8 h-8 flex items-center justify-center py-1 text-sm leading-loose transition text-gray-700 rounded
}

.react-datepicker__day--disabled {
  @apply cursor-not-allowed opacity-40 hover:bg-transparent
}

.react-datepicker__day--outside-month {
  @apply text-gray-300
}

.react-datepicker__day--in-range {
  @apply bg-gray-200
}

.react-datepicker__day--in-selecting-range {
  @apply bg-blue-200
}

.react-datepicker__day--selecting-range-start {
  @apply bg-white border-2 border-blue-500
}

.react-datepicker__day--selecting-range-end {
  @apply bg-white border-2 border-blue-500
}

.react-datepicker__day--selected {
  @apply bg-blue-500 text-white
}

.react-datepicker__day--range-start {
  @apply bg-blue-500 text-white hover:text-gray-700 hover:bg-white
}

.react-datepicker__day--range-end {
  @apply bg-blue-500 text-white hover:text-gray-700 hover:bg-white
}